body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #323232;
}

header {
    background-color: #333;
    color: #4b4b4b;
    padding: 1rem;
    text-align: start; /* bleibt so für die Ausrichtung des Headers */
}

#news-container {
    padding: 20px;
    max-inline-size: 400px;
    background-color: #000000;
    text-align: start; /* Text im Container nach links ausrichten */
}

article {
    margin-block-end: 20px;
    padding: 15px;
    background-color: #000000;
    border-inline-start: 5px solid #000000;
    text-align: start; /* Sorgt dafür, dass der Text in den Artikeln auch links ausgerichtet ist */
}

article h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #dedede;
}

article p {
    font-size: 1rem;
    color: #d6d6d6;
}

article strong {
    color: #d8d8d8;
}
