/* Grundstruktur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  background-color: #000000;
  font-family: 'Calibri', Helvetica, Arial, sans-serif;
}

.layout {
  display: flex;
  inline-size: 100vw;
  block-size: 100vh;
}

.side-strip {
  background-color: #323232;
  inline-size: 5%;
  block-size: 100%;
}

.main-content {
  background-color: #000000;
  inline-size: 90%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px;
}

.logo {
  inline-size: 260px;
  block-size: auto;
  margin-inline-end: 30px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  margin-inline-start: 20px;
}

.menu-item > a {
  display: block;
  padding: 14px 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: light;
  position: relative;
}

.menu-item > a::before {
  content: "";
  position: absolute;
  inset-block-start: -5px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  block-size: 4px;
  background-color: #9d9d9d;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-item > a:hover::before {
  transform: scaleX(1);
}

.menu-item > a:hover {
  color: #808080;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 100%;
  background-color: #1c1c1c;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.submenu li a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  background-color: #1c1c1c;
  border-radius: 5px;
  font-size: 14px;
}

.submenu li a:hover {
  background-color: #181818;
  color: #808080;
}

.menu-item:hover .submenu {
  display: block;
}

.gradient-bar {
  block-size: 1px;
  background: #9d9d9d;
  margin: 20px 0;
}

.project-container {
  display: flex;
  justify-content: space-around; /* Projekte nebeneinander */
  padding: 20px;
}

.project {
  display: flex;
  flex-direction: column; /* Bilder ÃƒÂ¼ber Text */
  align-items: center;
  inline-size: 30%; /* Breite fÃƒÂ¼r die einzelnen Projekte */
  background-color: #000000;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.project img {
  inline-size: 100%; /* Bildbreite anpassen */
  block-size: auto; /* HÃƒÂ¶he automatisch */
  border-radius: 10px;
  margin-block-end: 10px; /* Abstand zwischen Bild und Text */
}

h2 {
  font-size: 24px;
  margin-block-end: 10px;
  color: #ffffff;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

/* Links */
a {
  color: gray;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
}

.project {
  display: flex;
  flex-direction: column; /* Bilder Ã¼ber Text */
  align-items: center;
  inline-size: 30%; /* Breite fÃ¼r die einzelnen Projekte */
  background-color: #000000;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  text-decoration: none; /* Keine Unterstreichung im Link */
  color: #ffffff; /* Schriftfarbe fÃ¼r den Link */
  transition: background-color 0.3s ease; /* Ãœbergang fÃ¼r den Hover-Effekt */
}

.project:hover {
  background-color: #1c1c1c; /* Hintergrundfarbe bei Hover */
}

.project img {
  inline-size: 100%; /* Bildbreite anpassen */
  block-size: auto; /* HÃ¶he automatisch */
  border-radius: 10px;
  margin-block-end: 10px; /* Abstand zwischen Bild und Text */
}
