/* Grundstruktur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Box-Sizing angepasst */
}

html, body {
  inline-size: 100vw;
  block-size: 100vh;
  margin: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Calibri', Helvetica, Arial, sans-serif;
  overflow: hidden; /* Verhindert Scrollleisten */
}

.layout {
  display: flex;
  inline-size: 100vw;
  block-size: 100vh;
  background-color: #444;
}

.main-content {
  background-color: #000000;
  inline-size: 90%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  block-size: auto;
  margin: 0 auto; /* Horizontales Zentrieren */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px;
}

.logo {
  inline-size: 260px;
  block-size: auto;
  margin-inline-end: 30px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  margin-inline-start: 20px;
}

.menu-item > a {
  display: block;
  padding: 14px 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: light;
  position: relative;
}

.menu-item > a::before {
  content: "";
  position: absolute;
  inset-block-start: -5px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  block-size: 4px;
  background-color: #9d9d9d;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-item > a:hover::before {
  transform: scaleX(1);
}

.menu-item > a:hover {
  color: #808080;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 100%;
  background-color: #1c1c1c;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.submenu li a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  background-color: #1c1c1c;
  border-radius: 5px;
  font-size: 14px;
}

.submenu li a:hover {
  background-color: #181818;
  color: #808080;
}

.menu-item:hover .submenu {
  display: block;
}

.gradient-bar {
  block-size: 1px;
  background: #9d9d9d;
  margin: 20px 0;
}

.project-container {
  display: flex;
  justify-content: space-around; /* Projekte nebeneinander */
  padding: 20px;
}

.project {
  display: flex;
  flex-direction: column; /* Bilder über Text */
  align-items: center;
  inline-size: 30%; /* Breite für die einzelnen Projekte */
  background-color: #000000;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  color: #ffffff; /* Schriftfarbe für den Link */
}

.project:hover {
  background-color: #1c1c1c; /* Hintergrundfarbe bei Hover */
}

.project img {
  inline-size: 100%; /* Bildbreite anpassen */
  block-size: auto; /* Höhe automatisch */
  border-radius: 10px;
  margin-block-end: 10px; /* Abstand zwischen Bild und Text */
}

h2 {
  font-size: 24px;
  margin-block-end: 10px;
  color: #ffffff;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

/* Links */
a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  background-color: #131313;
  border-radius: 15px;
}

.about-text {
  inline-size: 50%;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.8;
  text-align: start;
  padding-inline-end: 20px;
}

.about-image {
  inline-size: 30%;
  display: flex;
  justify-content: flex-start;
}

.profile-img {
  inline-size: 65%;
  block-size: auto;
  border-radius: 25px;
}

.signature {
  text-align: start;
  margin-block-start: 20px;
}

.signature-img {
  inline-size: 120px;
  block-size: auto;
  border-radius: 10px;
}

#news-container {
  color: #b0b0b0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #555;
  inline-size: 50%;
  box-sizing: border-box;
  text-align: start;
  max-block-size: 600px; /* Maximale Höhe des Containers */
  overflow-y: auto; /* Vertikales Scrollen aktivieren */
}


#news-container article {
  margin-block-end: 20px;
  padding-block-end: 10px;
  border-block-end: 1px solid #444;
}

#news-container h2 {
  color: #f0f0f0;
  font-size: 1.5em;
}

#news-container p {
  color: #d0d0d0;
  line-height: 1.6;
}
